{{ block "preload" . }}
{{ with .Content }}{{ end }}
{{ end }}
{{ $baseCSS := resources.Get "css/base.css" | resources.ExecuteAsTemplate "css/base.css" . | minify | fingerprint }}
{{ $extraCSS := .Scratch.Get "css" | uniq }}
{{ $allCSS := $baseCSS | slice | append $extraCSS }}
{{ $allJS := .Scratch.Get "js" | uniq }}
<!DOCTYPE html>
<html lang="{{ .Page.Language | default "en" }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {{ if eq .Title site.Title }}
    {{ site.Title }}
    {{ else }}
    {{ with .Title }}{{ . }} | {{ end }}{{ site.Title }}
    {{ end }}
  </title>
  {{ range .AlternativeOutputFormats }}
  {{ printf "<link rel=%q type=%q href=%q title=%q>" .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
  {{ end }}
  {{ range $allCSS }}
  <link rel="stylesheet" href="{{ .Permalink }}" integrity="{{ .Data.Integrity }}">
  {{ end }}

  {{ hugo.Generator }}
</head>
<body>
  {{ partial "banner.html" .}}
  <main>
    <div class="u-wrapper">
      <div class="u-padding">
        {{ block "main" . }}{{ end }}
      </div>
    </div>
  </main>
  {{ partial "footer.html" . }}
  {{ partial "katex.html" . }}
  {{ range $allJS }}
  <script type="text/javascript" src="{{ .Permalink }}" integrity="{{ .Data.Integrity }}"></script>
  {{ end }}
</body>
</html>