<nav class="u-background">
  <div class="u-wrapper">
    <ul class="Banner">
      <li class="Banner-item Banner-item--title">
        <a class="Banner-link u-clickable" href="{{ "" | absLangURL }}">{{ site.Title }}</a>
      </li>
      {{ range site.Menus.nav }}
      <li class="Banner-item">
        <a class="Banner-link u-clickable" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
    <ul class="Lang-nav">
        {{ range .Translations }}
          <li class="Lang-item">
            <a class="Lang-link u-clickable" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
          </li>
        {{ end }}
      </ul>
  </div>
</nav>