    <h2 class="Heading-title">
      <a class="Heading-link u-clickable" href="{{ .Permalink }}" rel="bookmark">{{ .Title }}</a>
    </h2>
    {{ with .PublishDate | default nil }}
    <time datetime="{{ .Format "2006-01-02T15:04:05Z07:00" }}">
      {{ .Format "2 January, 2006" }}
    </time>
    {{ end }}
