<footer>
{{ with .Params.tags }}
<ul class="Tags">
    {{ range . }}
    <li class="Tags-item u-background"> <a class="u-clickable Tags-link" href="{{ "tags" | absLangURL }}/{{ . | urlize }}">{{ . }}</a> </li>
    {{ end }}
</ul>
{{ end }}
{{ with .Params.oznake }}
<ul class="Tags">
    {{ range . }}
    <li class="Tags-item u-background"> <a class="u-clickable Tags-link" href="{{ "oznake" | absLangURL }}/{{ . | urlize }}">{{ . }}</a> </li>
    {{ end }}
</ul>
{{ end }}
</footer>