{{ define "main" }}
<main>
    <article>
        <header>
            <h1>{{.Title}}</h1>
        </header>
        <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
        {{.Content}}
    </article>
    <ul>
    <h3>{{ i18n "LatestYears" .}}</h3>    
    <!-- Ranges through content/posts/*.md -->

    {{ range ((where .Site.RegularPages "Section" "izvedbe").ByParam "id").Reverse | first 10 }}
        <li>
            <a href="{{.Permalink}}">{{.Title}}</a>
        </li>
    {{ end }}
    </ul>
</main>
{{ end }}